.color_section{
    height: 400px;
    margin-top: 100px;
    border: 1px solid red;
    
}
.color_container{
    background-color: rgb(226, 250, 242);
    width: 1280px;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}
.stil{
    font-family: "Hind Madurai";
    font-size: 50px;
    color: rgb(12, 12, 86);
    font-weight: 700;
    text-align: center;
    padding: 50px;
}
#btn{
    margin-left: 500px;
    width: 250px;
    height: 65px;
    background-color: rgb(255, 12, 93);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
#btn:hover{
    background-image: -webkit-linear-gradient(  rgb(45, 11, 92), rgb(255, 12, 93));
}

@media screen and (max-width: 375px){
    .color_container{
        width: 320px;
        height: 300px;
    }
}