.footer{
    height: 560px;
    background-color:  rgb(45, 11, 92);

}
.foot{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}
.acc1{
    display: flex;
    flex-direction: column;
}
.carbon-acc{
    display: flex;
    gap: 150px;
}
h3{
   color:  rgb(130, 98, 176);
   font-family: "Hind Madurai";
}

.logo2{
    width: 120px;
}
.nija{
    width: 25px;
    height: 17px;   
}
.acc a{
    line-height: 2;
    font-size: 15px;
}
.nij{
    display: flex;
    gap: 10px;
    font-family: "Hind Madurai";
    color: white;
    border: 1px solid  rgb(196, 168, 235);
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;

}
.naira{
    font-size: 20px;
    color:  rgb(129, 87, 188);
}
.icon-niga{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -100px;
}
.closing{
    display: flex;
    gap: 700px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.apple{
    display: flex;
    gap: 20px;
}
.socials{
    display: flex;
    gap: 20px;
}