header{
    height: 100px;
    background-color: rgb(45, 11, 92);
}
.carbon-logo{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    
}
.logo_list{
    display: flex;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    gap: 15px;
    padding: 33px;
}
.logo-link{
    display: flex;
    gap: 25px;
    padding: 0px 40px;
}
.biz:hover{
    color: crimson;
}