.hero-section{
    height: 320px; 
    border: 1px solid orange;
}
.bg{
    min-height: 970px;
    max-width: 99vw;
    margin-top: -650px;  
}
.ask{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(14, 14, 98);
    font-size: 50px;
    font-weight: bold;
    padding: 0px 100px;
    line-height: 1;  
}
.ignit-carbon{
    width:98.8vw;
    margin-top: -190px;   
}

.dark{
   margin-top: -13em; 
}