.hero-section{
    height: 320px; 
    border: 1px solid orange;
}
.bg{
    min-height: 970px;
    max-width: 100vw;
    margin-top: -650px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.ask{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(14, 14, 98);
    font-size: 50px;
    font-weight: bold;
    padding: 0px 100px;
    line-height: 1;
    margin: 0px;
    
    
}
.ignit-carbon{
    width:100vw;
    margin-top: -210px;
    
    
}

.dark{
   margin-top: -12em;
   
}