.hero-section{
    height: 320px;
    border: 1px solid red;
    background-image:url("https://assets-global.website-files.com/6453bf08503f6d73d5ffe98e/64628f1aba6705db8e3715ce_curved%20shape.webp")
    
    
}
.bg{
    min-height: 970px;
    max-width: 100vw;
    margin-top: -650px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.ask{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(14, 14, 98);
    font-size: 50px;
    font-weight: bold;
    padding: 0px 100px;
    line-height: 1;
}
.ignit-carbon{
    width:100vw;
    margin-top: -200px; 
}

.dark{
    margin-top: -200px;
}