@import url("header.css");
@import url("hero-section.css");
@import url("questions_answers.css");
@import url("color_section.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: inherit;
  text-decoration: none;
  list-style: none;
}